* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  color: black;
  transition: all 250ms ease-in-out;
  font-family: monospace;
  font-size: 12px;

  &:has(.video-upload.uploaded) {
    background-color: black;
    color: white;
  }
}

.hidden {
  display: none !important;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
}

section.video-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  .insert-video {
    .border-top, .border-bottom {
      transition: 200ms ease-out;
    }

    &:hover {
      .border-top {
        transform: translateY(-10px);
      }

      .border-bottom {
        transform: translateY(10px);
      }
    }
  }

  & > label {
    cursor: pointer;
    user-select: none;
    font-size: 20px;
  }

  .people {
    width: 126ch;
    height: 110px;
    height: 8lh;
    position: fixed;
    left: calc(50% - 63ch);
    bottom: 0;
  }

  &.uploaded {
    height: unset;

    .people {
      display: none;
    }
  }
}

section.video-player {
  position: relative;
  width: clamp(300px, 100%, 1024px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto 0;

  pre#ascii {
    width: clamp(300px, 100%, 1024px);
    aspect-ratio: 16 / 9;
    font-family: monospace;
    font-size: 12px;

    &.colors {
      background-repeat: no-repeat;
      background-size: contain;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-font-smoothing: antialiased;
    }
  }

  .controls {
    margin-top: 20px;
    display: flex;
    align-items: baseline;
    gap: 20px;
    width: clamp(300px, 100%, 1024px);

    .play-pause-btn {
      background: none;
      color: white;
      border: none;
      width: 30px;
      height: 30px;
      font-size: 16px;
      cursor: pointer;
      flex-grow: 0;

      &.paused {
        transform: rotate(90deg);
      }
    }

    .volume {
      display: flex;
      gap: 0.5ch;
      width: calc(6ch + 5 * 0.5ch);

      .volume-level {
        cursor: pointer;

        &.on {
          opacity: 1;
          font-weight: 600;
        }

        &.off {
          opacity: 0;
        }

        &.preview-on {
          opacity: 1;
        }

        &.preview-off {
          opacity: 0.4;
        }
      }
    }

    .progress {
      display: flex;
      gap: 7.25px;
      flex-grow: 1;
      max-width: 100%;
      position: relative;

      .progress-step {
        opacity: 0.5;
        user-select: none;
        transition: 300ms linear;
        padding-top: 10px;
        cursor: pointer;

        &.viewed {
          opacity: 1;
          font-weight: 600;
        }
      }

      .progress-marker {
        position: absolute;
        top: -8px;
        left: -10px;
        padding: 10px;
        z-index: 5;
        user-select: none;

        transition: 100ms linear;
        cursor: grab;

        &:active {
          cursor: grabbing;
        }
      }
    }
  }

  .options {
    position: absolute;
    top: 10px;
    left: -50px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    button {
      background: none;
      border: none;
      padding: 10px;
      cursor: pointer;
      color: white;
      font-size: 20px;
      transition: 200ms ease-out;

      &:hover {
        transform: scale(1.2);
      }

      &:disabled {
        cursor: not-allowed;
      }
    }

  }
}


@keyframes frame-copied {
  0% { color: #95baff; }
  100% { color: white; }
}

@keyframes activate-colors {
  0% {
    color: white;
    transform: rotate(0);
  }
  100% {
    color: #95baff;
    transform: rotateY(-180deg);
  }
}

@keyframes deactivate-colors {
  0% {
    color: #95baff;
    transform: rotateY(-180deg);
  }
  100% {
    color: white;
    transform: rotate(0);
  }
}